
.module-filter {
  display: flex;
  align-items: center;
}

.module-filter select {
  background-color: #fff;
  color: #333;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border-radius: 4px;
}

.module-filter button {
  background-color: #fff;
  color: #333;
  padding: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border-radius: 4px;
}

.module-filter button svg {
  margin-left: 5px;
}

.module-filter button:hover {
  background-color: #f0f0f0;
}

