$box-shadow: #11ECE5FF;
$box-shadow-dark: lighten(#11ECE5FF,15px);
$background-color: rgba(19, 14, 11, 0.53);

.module {
   max-width: 979px;
  &__list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;

    @media screen and (max-width: 768px) {
      justify-content: center;
    }
    li{
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      width: calc(33.33% - 20px);
      margin-bottom: 20px;
      padding: 20px;
      cursor: pointer;
      background-color: $background-color;
      box-shadow: 0 0 5px $box-shadow;
      border-radius: 4px;
      overflow: hidden;
      transition: box-shadow 0.3s ease-in-out;

      &:hover {
        box-shadow: 0 1px 10px $box-shadow-dark;
        transform: scale(1.01);
        //transition: 0.2s ease-in-out;
        transition: 0.3s ease  box-shadow ;
      }
       .module_delete {
         position: absolute;
         bottom: 10px;
         right: 10px;
         cursor: pointer;
         z-index:10;
         &:hover {
           transform: scale(1.2);
           color:red;
         }
       }


     @media screen and (max-width: 768px) {
      width: calc(50% - 20px);
    }
    }
  }

}